<div style="text-align:center">
 <a href="/"> <h1 style="color: white">
   Welcome to {{ title | titlecase  }}!
  </h1>
  <img width="200" alt="Logo" src="https://static1.squarespace.com/static/57ee32d1893fc0c995da4d16/t/58498cebe6f2e1c1990dc55d/1507126976775/free-spins-favicon.png"/>
 </a>
  <button (click)="signOut()" class="logout-button" [ngStyle]="{'display' : (loggedIn) ? 'block' : 'none'}">Logout</button>
</div>
<div class="container">
  <app-login>

  </app-login>
</div>


<router-outlet></router-outlet>
