* {
  box-sizing: border-box;
}


ul {
  padding: 10px 50px;
  max-width: 600px;
  margin: 35px auto 10px;

  background: linear-gradient(to top, rgba(251, 194, 235, 0.1) 0%, rgba(166, 193, 238, 0.1) 100%) center;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.25);
  border-radius: 2%;
}

li {
  margin: 10px 10px 10px 0;
  font-size: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  position: relative;


  transition: border-bottom 0.3s;
  div.itemName {
    width: 80%;
    text-align: left;
  }
  span.doneStatus {

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 30px;
    width: 15px;
    height: 25px;
    border-radius: 10px;
    cursor: pointer;

  }

  a {
    opacity: 0;
    transition: opacity ease-out 0.5s;
    position: absolute;
    right: 2px;
    top: -2%;
    color: red;
    font-size: 25px;
    display: flex;
    text-align: end;
    cursor: pointer;
  }
  &:hover {
    filter: grayscale(10%);
    a {
      opacity: 1;

    }
  }
}

.done {
  box-shadow: 0 0 5px 0 rgba(37, 255, 3, 0.31);
  &:after {
    position: absolute;
    top: 50%;
    left: 15%;
    content: '';
    height: 2px;
    transform: rotateZ(-3deg);
    width: 80%;
    background-color: rgba(0, 153, 204, 0.22);
  }
}

h1 {
  font-size: 18px;
  text-align: center;
}

.list__daybox {
  padding: 15px;
  width: calc(100% / 7);
  min-width: 200px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
  margin-top: 20px;
  &:not(:last-child) {
    margin-right: 20px;
  }
}


.emptyTasks{
  width: 100%;
  text-align: center;
  margin: 50px 0;
}
