<div class="emptyTasks" [ngStyle]="{'display' : (this.toDoList !== null) ? 'none' : 'block'}">You don't have tasks</div>

<mat-tab-group  [(selectedIndex)]="selectedIndex">

    <mat-tab class="list__daybox" *ngFor="let dayDoList of toDoList;index as day"
         [ngStyle]="{'display' : (dayDoList === null) ? 'none' : 'block'}" label="{{ dayOfWeek[day] }}">

      <div [ngStyle]="{'display' : (dayDoList != null) ? 'none' : 'block'}" style="padding: 25px 0;text-decoration: underline;text-align: center">
        there are no tasks for today
      </div>

      <ul [ngStyle]="{'display' : (dayDoList === null) ? 'none' : 'block'}">
        <li *ngFor="let DoList of dayDoList;index as index"
            [ngClass]="(DoList.done ? 'done' : 'notdone')">

          <span class="doneStatus" (click)="setDone(DoList._id,day)" title="{{ DoList.done ?  'done item' : 'not done item'}}">
            <mat-icon [ngStyle]="{'color': DoList.done ? '#1bff34' : 'white'}">check_circle</mat-icon>
          </span>

          <div class="itemName"> {{ DoList.text }}</div>

          <a title="remove item" (click)="remove($event,DoList._id,day)">
            <mat-icon>close</mat-icon>
          </a>

        </li>
      </ul>

    </mat-tab>

</mat-tab-group>
