<div class="list__daybox" *ngFor="let dayDoList of toDoList;index as day">

  <div [ngStyle]="{'display' : (dayDoList != null) ? 'none' : 'flex'}">empty</div>



  <ul>
    <li *ngFor="let DoList of dayDoList;index as index"
        [ngClass]="(DoList.done ? 'done' : 'notdone')"
        [ngStyle]="{'display' : (dayDoList === null) ? 'none' : 'flex'}">
      <span class="doneStatus" (click)="setDone($event,DoList._id,day)"></span>
      <strong>{{DoList.done}}</strong>
      <span class="itemName">  {{ DoList.text  }}</span>
      <a title="remove item" (click)="remove($event,DoList._id,day)">&#x2716;</a>
    </li>
  </ul>


</div>


<!--
[ngClass]="(DoList.done ? 'done' : 'notdone')"-->


<!--
<span class="doneStatus" (click)="setDone($event,index)"></span>
<strong>{{DoList.done}}</strong>
<span class="itemName">  {{ DoList.text  }}</span>
<a title="remove item" (click)="remove($event,index)">&#x2716;</a>-->
