* {
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;


  input[type=text]{
    width: 30%;
    max-width: 600px;
  }
}




.inputarea {
  border: none;
  background-color: #dddddd;
  box-shadow: 0 0 5px 0 rgba(0, 153, 204, 1);
  width: 100%;
  padding: 0 15px;
  font-size: 30px;
  text-transform: uppercase;
}

.button {
  width: 45px;
  margin-left: -44px;
  border: none;
  background-color:  #0099CC;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: pointer;

  &:hover,:focus{
    filter: invert(15%);
  }
}


app-list{
  display: flex;
}




h1.ItemPresent {
  display: none;
}

h1.noItems{
  display: block;
}


