<div class="form">
  <div class="form__input-box">
    <input type="text" class="inputarea" [(ngModel)]="newTodo" (keyup.enter)="getNewToDo($event);"/>
    <button mat-button *ngIf="newTodo" matSuffix mat-icon-button aria-label="Clear" (click)="newTodo=''">
      <mat-icon>close</mat-icon>
    </button>
    <input type="button" class="button" (click)="getNewToDo($event);" value="enter"/>
  </div>
  <mat-form-field>
    <mat-select placeholder="Day of week" [(ngModel)]="dayOfweek">
      <mat-option *ngFor="let day of weekDaysList" [value]="day.value">
        {{ day.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<app-list [(toDoList)]="this.toDoList" [(selectedIndex)] = 'this.selectedIndex'></app-list>
