<ul>
  <li><span>item</span><a title="remove item">X</a></li>
  <li><span>item</span><a title="remove item">X</a></li>
  <li><span>item</span><a title="remove item">X</a></li>
  <li><span>item</span><a title="remove item">X</a></li>
  <li><span>item</span><a title="remove item">X</a></li>
  <li><span>item</span><a title="remove item">X</a></li>
  <li class="done"><span>item</span><a title="remove item">X</a></li>
  <li><span>item</span><a title="remove item">X</a></li>
  <li><span>item</span><a title="remove item">X</a></li>
  <li><span>item</span><a title="remove item">X</a></li>
</ul>
